# dependencies
node_modules/

# IDE
/.idea
/.vscode

#compiled scipts
dist/

# bundle
packages/**/*.d.ts
packages/**/*.js

# environment variables
.env
.env.*

# reference for own development
src/repositories/repository.ref.ts

